[alias]
    # TODO: make local branches display in a different color (e.g. green)
    # and stash (e.g. pink/magenta)
    # and tags (?)
    # and group them in parenthesis: (origin/ansible, ansible)
    # and maybe but it right after the hash instead of at the end?
    # basically compare to:
    # git log --graph --decorate --pretty=oneline --abbrev-commit
    lol = log --pretty='%C(auto,yellow)%h %C(auto,magenta)%C(auto,blue)%ad %C(auto,magenta)%<(7,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D' --date=short --graph
    lola = lol --all

[core]
    autocrlf = input
    editor = vim

[user]
    useConfigOnly = true

[include]
    # put user specific settings in the file below
    path = ~/.gitconfig.local

