[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = lol --all

[core]
    autocrlf = input
    editor = vim

[user]
    useConfigOnly = true

[include]
    # put user specific settings in the file below
    path = ~/.gitconfig.local

